ul {
    list-style-type: none;
    margin-left:35%;
    overflow: hidden;
    background-color: #e6e6e6;
    position: sticky;
    border-radius: 20px;
    width: 12cm;
    font-size: 30px;
    padding-left: 1cm;
}
  
li{
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

body{
    background: linear-gradient(to bottom, red 0%, #ffffff 50%,green 103%);
    background-repeat: no-repeat;
    color: white;
}
#header{
    margin-left: 5.5%;
    margin-top: -1cm;
    margin-bottom: .5cm;
    border-radius: 25px;
    font-size:40px;
    background: url('../Img/italia.jpg');
    background-position: left top;
    background-repeat: no-repeat; 
    width: 1350px;
    height: 500px;
}

#pgTitle{
    margin-left: 2cm;
}